[submodule "FundMe-foundry/lib/forge-std"]
	path = FundMe-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundMe-foundry/lib/chainlink-brownie-contracts"]
	path = FundMe-foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
